.navbar {
/*   border: 2px dashed green */
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar__list-item {
  width: 30%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 15px;
  background-size: cover;x
}

.navbar__list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 2.5rem;
  display: block;
  border-radius: 8px;
  color: white;
  font-size: 60px;
}

.navbar__list-item menu:hover {
  background-color: transparent;
  width: 600px;
  transition: width 0.5s;
  border: 3px solid #d40000;
  
}

/* Food Menu link */
.menu {
  background-image: url(https://assets.codepen.io/4722029/mazamorra-morada.jpg?format=auto);  
}

/* Logo link */
.logo {
    width: 30%;
}

.logo a {
  background-color: transparent;
  padding: 0;
/*   border: 3px solid #fff; */
/*   border-radius: 5px; */
  width: 500px;

}

.logo a:hover {
  background-color: transparent;
  width: 600px;
  transition: width 0.5s;
  transition: height 0.5;
  border: 3px solid #d40000;
/*   padding:5px; */
}

.logo img {
  width: 100%;
  height: 100%
  background-position: center
}

/* Order link */
.order {
  background-image: url(https://assets.codepen.io/4722029/pastelitos.jpg?format=auto);
}

.navbar__list-item order a:hover {
  
}