.navbar {
/*   border: 2px dashed green; */
  padding:10px 0;
  background-color: #ffd666;
}

.navbar__list {
/*    border: 2px dashed green; */
  display: flex;
  justify-content: center;
  list-style: none;
  height:300px;
}

.navbar__list-item {
/*    border: 2px dashed green; */
  width: 30%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 15px;
  background-size: cover;x
}

.navbar__list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 2.5rem;
  display: block;
  border-radius: 8px;
  color: white;
  font-size: 60px;
}

/* Food Menu link */
.menu {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.menu img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s;
}
.menu span {
  display: block;
  color: white;
  position: relative;
  z-index:100;
}

.menu:hover img {
  transform: scale(1.2);
}

/* Logo link */
.logo:hover {
  width: 40%;
  transition: width 1s;
  transition: height 1s;
}

.logo a {
  background-color: transparent;
  padding: 1;
  width: 100%;

}

.logo a:hover {
  background-color: transparent;
  border: 3px solid #d40000;
/*   padding:5px; */
}

.logo img {
  width: 100%;
  height: 100%
  background-position: center
}

.navbar__list-item.order a:hover {
  image: max-width 100
}

/* Order link */
.order {
  margin: 0 auto;
  width: 600px;
  overflow: hidden;
  font-size: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.order:hover img {
  transform: scale(1.2);
}

.order img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: transform 0.3s;
}
.order span {
  display: block;
  color: white;
  position: relative;
  z-index:100;
}