.navbar {
/*   border: 2px dashed green */
  padding:10px 0;
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style: none;
  height:300px;
}

.navbar__list-item {
  width: 30%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 15px;
  background-size: cover;x
}

.navbar__list-item a {
  text-decoration: none;
  color: #000000;
  font-size: 2.5rem;
  display: block;
  border-radius: 8px;
  color: white;
  font-size: 60px;
}

.navbar__list-item .menu:hover {
  background-color: transparent;
/*   width: 600px; */
  transition: width 0.5s;
  border: 3px solid #d40000;
  
}

/* Food Menu link */
.menu {
  background-image: url(https://assets.codepen.io/4722029/mazamorra-morada.jpg?format=auto);  
}

/* Logo link */
.logo:hover {
  width: 40%;
  transition: width 1s;
  transition: height 1s;
}

.logo a {
  background-color: transparent;
  padding: 1;
/*   border: 3px solid #fff; */
/*   border-radius: 5px; */
  width: 100%;

}

.logo a:hover {
  background-color: transparent;
  border: 3px solid #d40000;
/*   padding:5px; */
}

.logo img {
  width: 100%;
  height: 100%
  background-position: center
}

/* Order link */
.order {
  background-image: url(https://assets.codepen.io/4722029/pastelitos.jpg?format=auto);
}

.navbar__list-item.order a:hover {
  image: max-width 100
}


.image-wrapper {
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
  font-size: 0;
}
img {
  max-width: 100%;
  transition: transform 0.3s;
}
.image-wrapper:hover img {
  transform: scale(1.2);
}